<% if content.errors.any? %>
    <div class='errors'>
        Errors:  <%= content.errors.full_messages.join(", ") %>
        <BR><BR>
    </div>    
<% end %>

<%= form_with(model: content, local: true) do |form|%>
    <br><br>
    <div class='form-group'>

        <div class="input-group">            
            <%= form.label :title, class: "input-group-text", id: "inputGroup-sizing-sm" %>
            <%= form.text_field :title, class: 'form-control' %>
        </div>
        <BR>
        <div class="input-group">
            <%= form.label :description, class: 'input-group-text', id: 'addon-wrapping' %>                      
            <%= form.text_area :description, class: 'form-control'%> 
        </div>
        <BR><BR>
        <div class='field'>  
            <%= form.label :tags, class: "input-group-text", id: 'addon-wrapping' %>      
            
            <%= form.select :tags, 
            options_for_select(current_user.tags.pluck(:name),
                                content.tags.pluck(:name)), {},
            { class: 'form-control select2', multiple: 'multiple'} 
            %>        
        </div>
        <BR>
        <div>
            <%= form.submit 'Save', class: 'btn btn-primary' %>
        </div>
    </div>
<% end %>